.form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chip-list {
    width: 400px;
}

.option {
    padding: 0;
}

.checkbox-wrapper {
    padding: 0 16px;
}